<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <style>

    .content{
      margin-top: 150px;
    }
    .navbar-brand .navbar-item{
      font-size: 30px;
      margin-right: 70px;
    }
    .navbar-start .navbar-item{
      font-size: 20px;
      margin-right: 30px;
    }
    footer .content{
      margin: 10px 0 10px 0;
      padding: 10px;
    }
    </style>
  </head>
  <body>

    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {

// Get all "navbar-burger" elements
var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach(function ($el) {
    $el.addEventListener('click', function () {

      // Get the target from the "data-target" attribute
      var target = $el.dataset.target;
      var $target = document.getElementById(target);

      // Toggle the class on both the "navbar-burger" and the "navbar-menu"
      $el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
    </script>
    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <a class="navbar-item">BrowserTorrent</a>
        <div class="navbar-burger burger" data-target="navItems">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navItems">
        <div class="navbar-start">
          <a class="navbar-item" href="/">HOME</a>
          <a class="navbar-item" href="/mytorrents">MY DOWNLOADS</a>
        </div>
      </div>
    </nav>
    <!--
    WebTorrent {
domain: null,
_events: {},
_eventsCount: 0,
_maxListeners: undefined,
peerId: '2d5757303039382d616c7869614e6b546e7a4364',
peerIdBuffer: <Buffer 2d 57 57 30 30 39 38 2d 61 6c 78 69 61 4e 6b 54 6e 7a 43 64>,
nodeId: '1051c978a482e9d0f396b136c4fc7ad4dab8afc0',
nodeIdBuffer: <Buffer 10 51 c9 78 a4 82 e9 d0 f3 96 b1 36 c4 fc 7a d4 da b8 af c0>,
_debugId: '2d57573',
destroyed: false,
listening: true,
  torrentPort: 53904,
  dhtPort: 58752,
  tracker: {},
  torrents: [],
  maxConns: 55,
  _tcpPool:
  TCPPool {
    server:
     Server {
       domain: null,
       _events: [Object],
       _eventsCount: 3,
       _maxListeners: undefined,
       _connections: 0,
       _handle: [Object],
       _usingSlaves: false,
       _slaves: [],
        _unref: false,
        allowHalfOpen: false,
        pauseOnConnect: false,
        _connectionKey: '6::::0',
        [Symbol(asyncId)]: 12 },
     _client: [Circular],
     _pendingConns: [],
     _onConnectionBound: [Function],
     _onListening: [Function],
     _onError: [Function] },
  _downloadSpeed: [Function],
  _uploadSpeed: [Function],
  dht:
  DHT {
     _tables:
      LRU {
        domain: null,
        _events: {},
        _eventsCount: 0,
        _maxListeners: undefined,
        cache: {},
        tail: null,
        head: null,
        length: 0,
        max: 1000,
        maxAge: 300000 },
     _values:
      LRU {
        domain: null,
        _events: {},
        _eventsCount: 0,
        _maxListeners: undefined,
        cache: {},
        tail: null,
        head: null,
        length: 0,
        max: 1000,
        maxAge: 0 },
        _peers:
      RecordCache {
        maxSize: 10000,
        maxAge: 0,
        _fresh: [Object],
        _stale: [Object],
        _interval: null },
     _secrets:
      [ <Buffer 43 e1 3c 98 ce 09 ac ab cd 28 05 cd 46 e5 3e 39 21 87 98 69>,
        <Buffer 7c 4f 0d 37 f0 0d c9 d2 53 8e fc 36 ac 8d 83 f3 d3 31 70 a9> ],

     _hash: [Function: sha1],
     _hashLength: 20,
     _rpc:
     RPC {
        _idLength: 20,
        id: <Buffer 68 44 43 18 ee 2b a9 28 c7 7f 16 ce 02 20 e0 87 08 30 59 fc>,
        socket: [Object],
        bootstrap: [Array],
        concurrency: 16,
        backgroundConcurrency: 4,
        k: 20,
        destroyed: false,
        pending: [],
        nodes: [Object],
        domain: null,
        _events: [Object],
        _eventsCount: 5,
        _maxListeners: undefined },
     _verify: null,
     _host: null,
     _interval:
     Timeout {
        _called: false,
        _idleTimeout: 300000,
        _idlePrev: [Object],
        _idleNext: [Object],
        _idleStart: 512,
        _onTimeout: [Function: rotateSecrets],
        _timerArgs: undefined,
        _repeat: 300000,
        _destroyed: false,
        [Symbol(asyncId)]: 19,
        [Symbol(triggerAsyncId)]: 1 },
     _runningBucketCheck: true,
     _bucketCheckTimeout:
      Timeout {
        _called: false,
        _idleTimeout: 83945,
        _idlePrev: [Object],
        _idleNext: [Object],
        _idleStart: 514,
        _onTimeout: [Function: checkBucket],
        _timerArgs: undefined,
        _repeat: null,
        _destroyed: false,
        [Symbol(asyncId)]: 23,
        [Symbol(triggerAsyncId)]: 1 },
     _bucketOutdatedTimeSpan: 900000,
     listening: true,
     destroyed: false,
     nodeId: <Buffer 68 44 43 18 ee 2b a9 28 c7 7f 16 ce 02 20 e0 87 08 30 59 fc>,
     nodes:
     KBucket {
       domain: null,
       _events: [Object],
       _eventsCount: 1,
       _maxListeners: undefined,
       localNodeId: <Buffer 68 44 43 18 ee 2b a9 28 c7 7f 16 ce 02 20 e0 87 08 30 59 fc>,
       numberOfNodesPerKBucket: 20,
       numberOfNodesToPing: 16,
       distance: [Function],
       arbiter: [Function],
       root: [Object],
        metadata: [Object] },
     domain: null,
     _events: { error: [Object] },
     _eventsCount: 1,
     _maxListeners: 0 },
  enableWebSeeds: true,
  ready: true }

    -->
    <div class="content has-text-centered">

    <% if(data != 'noTorrentPresent'){ %>
      <table class="table is-hoverable is-narrow">
        <tr>
          <th>NAME</th>
          <th>PATH</th>
          <th>INFOHASH</th>
          <!-- <th>magnetURI</th> -->
          <th>SIZE</th>
          <th>DOWNLOAD SPEED</th>
          <th>AVERAGE SPEED</th>
          <th>PROGRESS</th>
        </tr>

      <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><%=data[i].name%></td>
          <td><%=data[i].path%></td>
          <td><%=data[i].infoHash%></td>
          <!-- <td><%=data[i].magnetURI%></td> -->
          <td><%=((data[i].length)/(1024*1024))%> MB</td>
          <td><p id="downspeed">-</p></td>
          <td><p id="avgspeed">-</p></td>
          <td><p id="progress">-</p></td>
        </tr>
      <% } %>
    </table>
    <% }else{ %>
      <p>No torrent present. Add one to view</p>
      <% } %>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>BrowserTorrent</strong> by Dhiraj, Umesh, and Anish.
          </p>
          <p>
            This program is <strong>open source</strong>.<a href="https://github.com/dhirajs1997/Projects/tree/master/Browser%20Torrent"  target="_blank"> Help us improve this program on Github.</a>
          </p>
        </div>
      </div>
    </footer>
    <script src="/controllers/chat.js"></script>
  </body>
</html>
